body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  overflow-y: hidden;
  background: rgb(1, 1, 1);
}
.App{
  overflow-y: scroll;
  height: 100vh;
  width:100vw;
  padding: 20px 50px;
}